@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
/* ## Colors */

/* ### Primary */

 --mainColor: hsl(158, 36%, 37%);
 --background: hsl(30, 38%, 92%);

/* ### Neutral */

--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--background);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.card {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  margin: auto;
  border-radius: 0.4rem;
}

.card .card_img img {
  width: 100%;
}

/* FOOTER */
.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}